<!DOCTYPE html>
<html>
  <head>
    <title>CRISP4BigData Mediator/Wrapper Configuration</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="CRISP4BigData Mediator/Wrapper">
    <meta name="author" content="Klaus-Dieter Schmatz">
    <link rel="shortcut icon" href="schema-registry-ui/src/assets/icons/favicon.png">

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="schema-registry-ui/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="schema-registry-ui/bower_components/font-awesome/css/font-awesome.min.css">
    <style>
body {background-color: #F5F5F5;}
.bigTotal{font-size:3em; text-align:center; margin:0; padding:0}
.tile-heading{height:16px; line-height:16px; font-weight:400; opacity:.7; font-size:14px; text-align:center; text-transform:uppercase; display:block}
.summary, .summary-title{text-align:center; font-weight:500; letter-spacing:.01em; margin:0; line-height:1.6em; font-size:12px}
.summary-title{text-transform:uppercase; padding:10px; text-decoration:none}
.summary{opacity:.7; padding:0 10px; min-height:30px}
h1,h2,h3,h4,h5{font-weight:200; color:#666; padding-left:10px; margin:10px}
.card-link{text-decoration:none;cursor:hand}
.md-list-item-short {height: 15px; min-height: 15px}
    </style>
  </head>

  <body ng-app="DockerPage" ng-cloak>

    <div ng-controller="MainCtrl" style="background-color: #F5F5F5">
      <h1>CRISP4BigData Mediator/Wrapper Configuration</h1>

      <!--Applications -->
      <div layout="row" layout-xs="column">

        <!--Schemas-->
        <md-card flex style="background-color: #2196F3; color: #FFF">
          <md-card-title style="padding-bottom:5px">
            <md-card-title-text>
              <span class="md-headline tile-heading">Schemas</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-xs="column" layout-wrap>
              <div flex>
                <p class="bigTotal">{{schemas}}</p>
              </div>
            </div>
          </md-card-content>
          <md-card-actions layout="column" layout-align="start" style="background-color:#FFF;color:#333;margin:0px">
            <div class="summary-title">Schema Registry UI</div>
            <md-button class="md-primary summary" style="margin:5px" ng-href="./schema-registry-ui/">Manage schemas</md-button>
          </md-card-actions>
        </md-card>

        <!--Topics-->
        <md-card flex style="background-color: #7C4DFF; color: #FFF">
          <md-card-title style="padding-bottom:5px">
            <md-card-title-text>
              <span class="md-headline tile-heading">Topics</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-xs="column" layout-wrap>
              <div flex>
                <p class="bigTotal">{{topics}}</p>
              </div>
            </div>
          </md-card-content>
          <md-card-actions layout="column" layout-align="start" style="background-color:#FFF;color:#333;margin:0px">
            <div class="summary-title">Kafka Topics UI</div>
            <md-button class="md-primary summary" style="margin:5px" ng-href="./kafka-topics-ui/">Browse topics</md-button>
          </md-card-actions>
        </md-card>

        <!--Connectors-->
        <md-card flex style="background-color: #AD1457; color: #FFF">
          <md-card-title style="padding-bottom:5px">
            <md-card-title-text>
              <span class="md-headline tile-heading">Connectors</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" layout-xs="column" layout-wrap>
              <div flex>
                <p class="bigTotal">{{connectors}}</p>
              </div>
            </div>
          </md-card-content>
          <md-card-actions layout="column" layout-align="end center" style="background-color:#FFF;color:#333;margin:0px">
            <div class="summary-title">Kafka connect UI</div>
            <md-button class="md-primary summary" style="margin:5px" ng-href="./kafka-connect-ui/">Manage connectors</md-button>
          </md-card-actions>
        </md-card>
      </div>

      <div layout="row" layout-xs="column">
        <!-- Services -->
        <md-card flex>
          <md-card-header style="border-bottom:1px solid #CCC">
            <md-card-header-text>
              <span class="md-headline tile-heading" style="text-align:center"><b>Dockerized services</b></span>
            </md-card-header-text>
          </md-card-header>
          <md-card-content>
            <md-list>
              <md-list-item ng-repeat="service in runningServices" class="md-2-line md-long-text" style="margin:-0.4em;">
                <img src="img/ok.png" class="md-avatar" style="margin-top:10px;margin-bottom:6px; width:20px; height:20px;"  />
                <div class="md-list-item-text" style="margin-top:8px;margin-bottom:8px;">
                  <h4>{{service.name}}</h4>
                  <p style="font-size:12px;">{{service.description}}</p>
                </div>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>

        <!-- Ports -->
        <md-card flex> 
          <md-card-header style="border-bottom:1px solid #CCC">
            <md-card-header-text>
              <span class="md-headline tile-heading" style="text-align:center"><b>Ports</b></span>
            </md-card-header-text>
          </md-card-header>
          <md-card-content>
            <table style="font-size:12px">
              <tr ng-repeat="i in servicesInfo">
                <td style="padding: 2px 12px 2px 12px">{{i.name}}</td> 
                <td style="padding: 2px 12px 2px 12px">{{i.port}}</td> 
                <td style="padding: 2px 12px 2px 12px; color: #AAA">{{i.jmx}}</td>
              </tr>
            </table>
          </md-card-content>
        </md-card>
      </div>

      <!-- Files -->
      <md-card>
        <md-card-header style="border-bottom:1px solid #CCC">
          <md-card-header-text>
            <span class="md-headline tile-heading" style="text-align:center"><b>Files</b></span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          <md-list>
            <md-list-item ng-repeat="expdir in exposedDirectories | filter: { enabled: '1'}" flex class="md-list-item-short" style="padding: 0">
              <div flex="" layout="row" layout-xs="column" class="layout-xs-column layout-row flex">
                <h5>- <a style="text-decoration:none;" href="{{expdir.url}}">{{expdir.name}}</a></h5>
              </div>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>

      <!--Footer-->
      <div layout="column" layout-align="center center">
        <div flex>
          <a class="github-button" href="https://github.com/tucuxi/crisp4bigdata-mw/issues" data-count-api="/repos/tucuxi/crisp4bigdata-mw#open_issues_count" data-count-aria-label="# issues on GitHub" aria-label="Issue on GitHub">Issue</a>
        </div>

        <div flex>
          <p style="font-size:10px">
          CRISP4BigData-MW was forked from <a href="https://github.com/Landoop/fast-data-dev" style="text-decoration:none;color=blue">Landoop/fast-data-dev</a>
          created by <a href="http://www.landoop.com" style="text-decoration:none;color:blue" target="_blank">Landoop</a>.
          </p>
        </div>
      </div>

    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="schema-registry-ui/bower_components/angular/angular.min.js"></script>
    <script src="schema-registry-ui/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="schema-registry-ui/bower_components/angular-aria/angular-aria.min.js"></script>

    <!-- Angular Material Library -->
    <script src="schema-registry-ui/bower_components/angular-material/angular-material.min.js"></script>

    <!--Github Buttons-->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Place this tag where you want the button to render. -->
    <!-- Custom js -->
    <script src="env.js"></script>

    <script type="text/javascript">

      angular
  .module('DockerPage', ['ngMaterial'])
  .controller('MainCtrl', function ($scope, $http, $log, $timeout, $interval) {

    //LOAD ENV vars
    $scope.runningServices = runningServices;
    $scope.servicesInfo = servicesInfo;
    $scope.exposedDirectories = exposedDirectories;

    //SUMMARIES
    this.getSummaries = function (){
      $http.get('/api/schema-registry/subjects/')
        .then(
          function successCallback(response) { $scope.schemas = response.data.length },
          function errorCallback(response) { $log.error("Failure with : " + response) });

      $http.get('/api/kafka-rest-proxy/topics/')
        .then(
          function successCallback(response) { $scope.topics = response.data.length },
          function errorCallback(response) { $log.error("Failure with : " + response) });

      $http.get('/api/kafka-connect/connectors')
        .then(
          function successCallback(response) { $scope.connectors = response.data.length},
          function errorCallback(response) { $log.error("Failure with : " + response) });

      $http.get('/api/kafka-rest-proxy/brokers')
        .then(
          function successCallback(response) { $scope.brokers = response.data.brokers.length },
          function errorCallback(response) { $log.error("Failure with : " + response) });
    };
    //initial invoke
    this.getSummaries();

    //COYOTE
    $scope.running = true;

    function calculateChart(passed, failed) {
      var c = Math.PI * ( 40 * 2); //r=40
      var percentage = (passed * 100) / (passed + failed);
      percentage = Math.round( percentage * 10 ) / 10;
      console.log("percentage " + percentage);
      if (percentage < 0) { percentage = 0;}
      if (percentage > 100) { percentage = 100;}
      $scope.chartValue = ((100-percentage)/100)*c;
      $scope.chartPercentage = percentage;
    }

    this.loadCoyoteResults = function (){
      $http.get('/coyote-tests/results').then(function(response){
        passed = response.data.passed;
        failed = response.data.failed;
        if (passed != 0 || failed != 0) {
          $scope.running = false;
          $scope.coyoteResults = response.data;
          calculateChart(response.data.passed, response.data.failed);
          return;
        }
      });
    };

    //Put in interval, first trigger after 10 seconds
    var theInterval = $interval(function(){
      this.loadCoyoteResults();
      this.getSummaries();
    }.bind(this), 10000);

    $scope.$on('$destroy', function () {
      $interval.cancel(theInterval)
    });

    //invoke initialy
    this.loadCoyoteResults();

    //--- end of controller
  });

    </script>

  </body>
</html>
