<!DOCTYPE html>
<html>
  <head>
    <title>CRISP4BigData Mediator/Wrapper</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="CRISP4BigData Mediator/Wrapper">
    <meta name="author" content="Klaus-Dieter Schmatz">
    <link rel="shortcut icon" href="schema-registry-ui/src/assets/icons/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="schema-registry-ui/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="schema-registry-ui/bower_components/font-awesome/css/font-awesome.min.css">
    <style>
body {background-color: #F5F5F5}
h1 {margin: 12px 8px 12px 8px; text-align: center}
h2 {margin: 3px}
.app-card {color: #FFF; text-align: center}
.app-card-actions {background-color: #FFF; color: #000; margin: 0px; padding: 8px; text-transform: uppercase}
.info-card-header {border-bottom: 1px solid #CCC}
.less-important {color: #555}
    </style>
  </head>

  <body ng-app="DockerPage" ng-cloak>

    <div ng-controller="MainCtrl" style="background-color: #F5F5F5">
      <h1 class="md-display-1">CRISP4BigData Mediator/Wrapper</h1>

      <!--Applications -->
      <div layout="row" layout-xs="column">

        <!--Schemas-->
        <md-card flex class="app-card" style="background-color: #2196F3">
          <md-card-title>
            <md-card-title-text>
              <h2 class="md-title">Schemas</h2>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p class="md-display-2">{{schemas}}</p>
          </md-card-content>
          <md-card-actions layout="column" class="app-card-actions">
            <h3 class="md-subhead">Schema Registry UI</h3>
            <md-button ng-href="./schema-registry-ui/">Manage schemas</md-button>
          </md-card-actions>
        </md-card>

        <!--Topics-->
        <md-card flex class="app-card" style="background-color: #7C4DFF">
          <md-card-title>
            <md-card-title-text>
              <h2 class="md-title">Topics</h2>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p class="md-display-2">{{topics}}</p>
          </md-card-content>
          <md-card-actions layout="column" class="app-card-actions">
            <h3 class="md-subhead">Kafka Topics UI</h3>
            <md-button ng-href="./kafka-topics-ui/">Browse topics</md-button>
          </md-card-actions>
        </md-card>

        <!--Connectors-->
        <md-card flex class="app-card" style="background-color: #AD1457">
          <md-card-title>
            <md-card-title-text>
              <h2 class="md-title">Connectors</h2>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p class="md-display-2">{{connectors}}</p>
          </md-card-content>
          <md-card-actions layout="column" class="app-card-actions">
            <h3 class="md-subhead">Kafka Connect UI</h3>
            <md-button ng-href="./kafka-connect-ui/">Manage connectors</md-button>
          </md-card-actions>
        </md-card>
      </div>

      <div layout="row" layout-xs="column">

        <!-- Packages -->
        <md-card flex>
          <md-card-header class="info-card-header">
            <md-card-header-text>
              <h2 class="md-title">Packages</h2>
            </md-card-header-text>
          </md-card-header>
          <md-card-content>
            <md-list>
              <md-list-item ng-repeat="service in runningServices">
                <p class="md-body-1" style="padding-bottom: 12px">
                {{service.name}}><br/>
                <span class="less-important">{{service.description}}</span>
                </p>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>

        <div flex layout="column" layout-xs="column">

          <!-- Ports -->
          <md-card>
            <md-card-header class="info-card-header">
              <md-card-header-text>
                <h2 class="md-title">Ports</h2>
              </md-card-header-text>
            </md-card-header>
            <md-card-content>
              <table class="md-body-1">
                <tr>
                  <th style="text-align: left">Name</td>
                  <th>Service</td>
                  <th>JMX</td>
                </tr>
                <tr ng-repeat="info in servicesInfo" ng-hide="{{info.port == ''}}">
                  <td>{{info.name}}</td>
                  <td style="padding: 0 2em 0 2em; text-align: right">{{info.port}}</td>
                  <td class="less-important" style="text-align: right">{{info.jmx}}</td>
                </tr>
              </table>
            </md-card-content>
          </md-card>

          <!-- Files -->
          <md-card>
            <md-card-header class="info-card-header">
              <md-card-header-text>
                <h2 class="md-title">Files</h2>
              </md-card-header-text>
            </md-card-header>
            <md-card-content>
              <table style="font-size: 14px">
                <tr ng-repeat="expdir in exposedDirectories | filter: { enabled: '1'}">
                  <td>-</td>
                  <td><a style="text-decoration:none" href="{{expdir.url}}">{{expdir.name}}</a></td>
                  </td>
              </table>
            </md-card-content>
          </md-card>
        </div>
      </div>

      <!--Footer-->
      <div align="center">
        <span class="md-caption">
          CRISP4BigData-MW was forked from <a href="https://github.com/Landoop/fast-data-dev" style="text-decoration:none;color=blue">Landoop/fast-data-dev</a>.
        </span>
      </div>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="schema-registry-ui/bower_components/angular/angular.min.js"></script>
    <script src="schema-registry-ui/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="schema-registry-ui/bower_components/angular-aria/angular-aria.min.js"></script>

    <!-- Angular Material Library -->
    <script src="schema-registry-ui/bower_components/angular-material/angular-material.min.js"></script>

    <!-- Place this tag where you want the button to render. -->
    <!-- Custom js -->
    <script src="env.js"></script>

    <script type="text/javascript">

angular
  .module('DockerPage', ['ngMaterial'])
  .controller('MainCtrl', function ($scope, $http, $log, $timeout, $interval) {

    //LOAD ENV vars
    $scope.runningServices = runningServices;
    $scope.servicesInfo = servicesInfo;
    $scope.exposedDirectories = exposedDirectories;

    //SUMMARIES
    this.getSummaries = function (){
      $http.get('/api/schema-registry/subjects/')
        .then(
          function successCallback(response) { $scope.schemas = response.data.length },
          function errorCallback(response) { $log.error("Failure with : " + response) });

      $http.get('/api/kafka-rest-proxy/topics/')
        .then(
          function successCallback(response) { $scope.topics = response.data.length },
          function errorCallback(response) { $log.error("Failure with : " + response) });

      $http.get('/api/kafka-connect/connectors')
        .then(
          function successCallback(response) { $scope.connectors = response.data.length},
          function errorCallback(response) { $log.error("Failure with : " + response) });

      $http.get('/api/kafka-rest-proxy/brokers')
        .then(
          function successCallback(response) { $scope.brokers = response.data.brokers.length },
          function errorCallback(response) { $log.error("Failure with : " + response) });
    };
    //initial invoke
    this.getSummaries();

    //COYOTE
    $scope.running = true;

    function calculateChart(passed, failed) {
      var c = Math.PI * ( 40 * 2); //r=40
      var percentage = (passed * 100) / (passed + failed);
      percentage = Math.round( percentage * 10 ) / 10;
      console.log("percentage " + percentage);
      if (percentage < 0) { percentage = 0;}
      if (percentage > 100) { percentage = 100;}
      $scope.chartValue = ((100-percentage)/100)*c;
      $scope.chartPercentage = percentage;
    }

    this.loadCoyoteResults = function (){
      $http.get('/coyote-tests/results').then(function(response){
        passed = response.data.passed;
        failed = response.data.failed;
        if (passed != 0 || failed != 0) {
          $scope.running = false;
          $scope.coyoteResults = response.data;
          calculateChart(response.data.passed, response.data.failed);
          return;
        }
      });
    };

    //Put in interval, first trigger after 10 seconds
    var theInterval = $interval(function(){
      this.loadCoyoteResults();
      this.getSummaries();
    }.bind(this), 10000);

    $scope.$on('$destroy', function () {
      $interval.cancel(theInterval)
    });

    //invoke initialy
    this.loadCoyoteResults();

    //--- end of controller
  });

    </script>

  </body>
</html>
